<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Little Yellow Shop Cart</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Jquery -->
    <script src="vendor/jquery/jquery.js"></script>

    <!-- ShitScript -->
    <script src="vendor/scripts/app.js"></script>
</head>

<body>
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="mt-5">A Little Yellow Shopping Cart</h1>
            <h2 id="visitor">Greetings {{visitor}}</h2>
        </div>
    </div>
</div>
<br>
<br>

<!-- BODY APP -->

<div class="container">
    <div class="d-block">
            <ul id="requestList">
                <script>getRequests();</script>
            </ul>
    </div>
</div>

<!-- TEMPLATES -->

<template id="single-element-template">
    <a id="element" class="list-group-item list-group-item-action">
        toReplace
    </a>
</template>

<template id="multiple-element-template">
    <a class="list-group-item list-group-item-action">
        toReplace
    </a>
    <!-- add onclick function afterwards -->
    <button type="button"
            class="btn btn-danger">
        delete
    </button>
</template>

<template id="form-template">
    <form method="post">
        <input type="text" name="name" class="form-control" placeholder="item name" value="">
        <button class="btn btn-primary" type="submit">Add new item</button>
    </form>
</template>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
